services:
  yt-mcp-server:
    image: odooerpcg/finance-mcp:latest
    container_name: yt-mcp-server
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - PORT=8000
    networks:
      - mcp-network

networks:
  mcp-network:

